#header{
    background-color: rgb(54, 54, 54);
    color: white;
    font-weight: bold;
    padding: 15px 30px 45px 30px;
}

#header input[type="text"]{
    width: 50%;
    border: 1px solid white;
}

#header input[type='submit']{
    width: 100px;
    background-color: lightgray;
    border: 1px solid white;
    font-family:sans-serif;
    font-weight: bold;
    color: gray;
}

.listItem{
    background-color: #f1f1f1;
    list-style-type: none;
    margin-left: -32px;
    padding: 10px 15px;
}

.listItem:nth-child(odd){
    background-color: rgb(233, 233, 233);
}

.listItem a{
    float: right;
    text-decoration: none;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
}

.listItem a:hover{
    background-color: rgb(54, 54, 54, 0.6);
    color: black;
}